{% extends 'base.html' %}

<!-- content -->

{% block content %}
<div class="flex">
  <div class="m-auto">
    {% if validlink %}
    <h1 class="text-2xl">Enter new password</h1>
    <p class="mt-4">
      Please enter your new password twice so we can verify you typed it in
      correctly.
    </p>
    <form method="post">
      {% csrf_token %}
      <div class="my-2">
        <label for="new_password1">New Password:</label>
        {{form.new_password1}}
      </div>
      <div class="my-2">
        <label for="new_password2">Confirm Password:</label>
        {{form.new_password2}}
      </div>

      <div>
        <input
          type="submit"
          class="w-full py-1 px-2 bg-green-700 text-white rounded shadow cursor-pointer"
          value="Change My Password"
        />
      </div>
    </form>

    {% else %}
    <h1 class="text-2xl">Password reset unsuccessful</h1>
    <p>
      The password reset link was invalid, possibly because it has already been
      used. Please request a new password reset.
    </p>
    {% endif %}
  </div>
</div>

{% endblock %}
