{% extends 'base.html' %}

<!-- content -->

{% block content %}
<div class="flex">
  <div class="m-auto">
    <h1 class="text-2xl">Password reset sent</h1>
    <p class="mt-4 text-gray-800">
      We’ve emailed you instructions for setting your password, if an account
      exists with the email you entered. You should receive them shortly.
    </p>
    <p class="mt-4 text-gray-800">
      If you don’t receive an email, please make sure you’ve entered the address
      you registered with, and check your spam folder.
    </p>
  </div>
</div>
{% endblock %}
